/* $Id$ */

#panels-dnd-main .panel-grid-edit-layout div.panels-display .pane-add-link,
.panel-grid-edit-layout .panel-pane {
  display: none;
}

.panel-grid-edit-layout div.panels-display h2.label {
  padding-right: 0;
}

.panels-grid-column-inside {
/*  overflow: hidden; */
}

.panel-grid-no-edit-layout .grid-layout-only {
  display: none;
}

.panel-grid-edit-layout .grid-title {
  text-align: center;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}
.grid-region-has-children .grid-element {
  margin-bottom: 0.5em;
}
.grid-region-has-children .panels-display {
 /* clear: both;*/
}
.grid-element {
  /*background-color: #f8f8f8;*/
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  /*margin: .5em;*/
}

